/** Fonts **/

@font-face {
    font-family: Dense;
    src: url({{baseUrl}}/Dense-Regular.otf);
}

@font-face {
    font-family: Dense-Bold;
    src: url({{baseUrl}}/Dense-Bold.otf);
}

/** Default settings **/

* {
    margin: 0;
}

body {
    background-color: rgb(244, 244, 244);
    width: 100%;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
}

a {
    color: #1b2944;
}

a:hover{
    color: #ff681e;
}

table {
    border: 1px solid rgba(128, 128, 128, 0.1);
    width: 100%;
    color: #1b2944;
}

thead {
    color:rgb(128,128,128);
    text-align:left;
}

th, td {
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 0px;
    padding-bottom: 15px;
    text-align: left;
    border-bottom: 1px solid rgba(128, 128, 128, 0.1);
    font-size: 14px;
}

footer {
    margin: 60px 0 0 0 !important;
    font-weight: 400;
    padding: 0 0 0 0;
    width: 100%;
}

/** Colours **/

.text-vib-orange {
    color: #ff681e;
}

.text-vib-white {
    color: #fff;
}

.text-vib-blue {
    color: #1b2944;
}

.text-vib-cyan {
    #1cbbba;
}

.bg-vib-blue {
    background-color: #1b2944;
}

.bg-vib-white {
    background-color: white;
}

.bg-vib-cyan {
    background-color: #1cbbba;
}

.bg-vib-light-grey {
    background-color: rgb(244, 244, 244);
}

/** Specific classes **/

.vib-h1 {
    font-family: Dense;
    font-size: 72px;
}

.vib-h2 {
    font-family: 'Barlow Condensed', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
}

.vib-h3 {
    font-family: Dense-Bold;
    font-size: 30px;
}

.vib-btn {
    font-family: Dense;
    font-size: 1.875rem;
    color: #1b2944;
    margin-left: 32px;
    text-decoration: none;
}

.vib-btn:hover {
    color: #1cbbba;
    text-decoration: underline;
}

.vib-bar-breadcrumb {
    height: 45px;
}

.vib-bar-breadcrumb a.vib-main-site {
    padding: 10px 11px 10px 16px;
    overflow: hidden;
    background: #1b2944 url({{baseUrl}}/chev_divider.png) no-repeat 100%;
    transition: all 150ms ease;
}

.vib-bar-breadcrumb a.vib-main-site:hover {
    background-color: #1cbbba;
}

.vib-bar-breadcrumb a.vib-main-site::before {
    content: ' ';
    position: absolute;
    width: 80px;
    height: 20px;
    top: 6px;
    left: 46px;
    transform: rotate(70deg);
    z-index: 2;
    background: #1b2944;
}

.vib-bar-breadcrumb a.vib-main-site::after {
    content: ' ';
    position: absolute;
    width: 80px;
    height: 20px;
    top: 6px;
    left: 50px;
    transform: rotate(-70deg);
    z-index: 2;
    background: #1b2944;
}

.vib-logo-small {
    height: 18px;
}
.banner {
    min-height: 220px;
    background: #1b2944 url("{{baseUrl}}/banner.jpg") no-repeat 50% center;
}

.vib-nav {
    text-align: right;
}

.vib-main-footer {
    width: 100%;
    margin: 0 !important;
}

.footer-l {
    padding: 65px 40px 65px 40px;
    flex-grow: 2;
}

.footer-r {
    padding: 65px 50px 65px 50px;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-weight: 300;
}

.logo-partner {
    height: 61px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.vlaanderen-footer {
    padding: 10px 18px 10px 18px;
    margin: 0 !important;
    width: 100%;
}

.vlaanderen-footer > img {
    width: 150px;
}

.z2 {
    z-index: 2;
}
